.container {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-name {
    text-decoration: none;
    color: #271831;
    list-style-type: none;
    border-bottom: 3px solid #271831;
}

.card {
    min-width: 200px;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.45);
    margin: 10px;
    transition: all 0.6s ease-in-out;
    align-items: center;
    justify-content: center;
    text-align: center;
}

